body {
    color: red;
    width: 1000px;
}

h1 {
    color: green;
}

li {
    color: yellow;
}

div {
    font-family: Helvetica;
    border: 1px solid purple;
}

nav {

}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav a {
    display: block;
    padding: 10px;
    background-color: #ee2222;
    text-decoration: none;
    color: #ffffff;
}

.grid-left {
    padding: 20px;
    width: 449px;
    float: left;
}

.promoted {
    background-color: #CCCCFF;
    border: 10px solid #b4da55;
    margin-bottom: 200px;
}

.promoted h2 {
    color: magenta;
}
